<div [formGroup]='form'>
  <ion-label>
    <ion-item>
      <ion-label>DATA</ion-label>
      <ion-datetime display-format="DD-MM-YYYY HH:mm" display-timezone="America/Sao_Paulo" formControlName="data"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>SERVIÇO</ion-label>
      <ion-select placeholder="Serviços" formControlName="servico" (ionChange)="obterFuncionario($event)">
        <ion-select-option *ngFor="let servico of servicos" [value]="servico.id">{{servico.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>FUNCIONÁRIO</ion-label>
      <ion-select placeholder="Funcionário">
        <ion-select-option *ngFor="let funcionario of funcionarios" formControlName="funcionario"
          [value]="funcionario.id">{{funcionario.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <br>
    <br>
    <ion-button class="mt-10" size="large" expand="block" (click)="cadastrarAgendamento()">SALVAR</ion-button>
  </ion-label>
</div>