<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-label class="justify-content-center">
      <h1><b>TELA PRINCIPAL</b></h1>
  </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content> -->
<ion-label>Teste <h1>Testing</h1></ion-label>
      <ion-img scr="https://assets.geeklearning.io/2015/05/list.jpg"></ion-img>
  