<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="agenda">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="usuario">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Colaboradores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>